a:hover, a:focus {
  text-decoration: none;
  color: #fff;
}
button:focus {
  outline: none;
}
ul {
  margin: 0;
}
body {
  position: relative;
}
%center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (min-width: 1200px) {
  .container {
    max-width: 1323px;
  }
}
.button {
  padding: 7px 53px;
  font-family: "PN-regular", serif;
  font-size: 1.1rem;
  line-height: 36px;
  color: #fff;
  border-radius: 70px;
  &:hover {
    color: #fff;

  }
  &-pink {
    background-image: -moz-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    background-image: -webkit-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    background-image: -ms-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);
    &:hover {
      box-shadow: #49007c 0 0 5px 1px, inset #e70088 0 0 8px;
    }
  }
}

